.bgmenu{
    background: #230000;
}
.bgcardapio{
    background: url('../img/fundonoite.png')#544025;
}
.bgmapa{
    background: #352415;
}
.bggaleria{
    background: #39210C;
}
.bgcontatos{
    background: #527823;
}
.branco{
    color: #fff;
}
.fundonoite{
    background-image: url(../img/fundonoite.png);
}