.bgmenu{
    background: #230000;
}
.bgcardapio{
    background: #544025;
}
.bgmapa{
    background: #352415;
}
.bggaleria{
    background: #39210C;
}
.bgcontatos{
    background: #527823;
}
.branco{
    color: #fff;
}